@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
        @apply bg-red;
    }
    .container {
        @apply w-[1400px] ml-auto mr-auto;
    }

    .navbar-container {
        @apply flex justify-between items-center  pt-[1rem] pb-[1rem];
    }

    .bar {
        background-color: black;
        height: 0.2rem;
        width: 1.2rem;
        margin-bottom: 0.2rem;
        display: block;
        border-radius: 0.2rem;
    }
}